# Write csv file

In [1]:
import pandas as pd

In [2]:
# example 1

In [3]:
df = pd.DataFrame([[1,5,3,6],[52,4,8,5],[5,42,6,79],[4,9,3,7],[71,9,32,2],[6,9,3,1],[16,82,17,93]],columns=["A","B","C","D"])

In [4]:
df.head()

    A   B   C   D
0   1   5   3   6
1  52   4   8   5
2   5  42   6  79
3   4   9   3   7
4  71   9  32   2

In [5]:
df.to_csv('export.csv')

In [6]:
# example 1

In [7]:
df1 = pd.DataFrame([[1,5,3,6],[52,4,8,5],[5,42,6,79],[4,9,3,7],[71,9,32,2],[6,9,3,1],[16,82,17,93]],columns=["A","B","C","D"])

In [8]:
df1.to_csv('No_index_export.csv',index=False)

In [9]:
df1

    A   B   C   D
0   1   5   3   6
1  52   4   8   5
2   5  42   6  79
3   4   9   3   7
4  71   9  32   2
5   6   9   3   1
6  16  82  17  93