# Dataframe Merging

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,2,3],[6,5,4],[9,8,7]],columns=['A','B','C'])

In [3]:
df1

   A  B  C
0  1  2  3
1  6  5  4
2  9  8  7

In [4]:
df2 = pd.DataFrame([[8,8,4],[7,5,1],[2,2,3]],columns=['X','Y','Z'])

In [5]:
df2

   X  Y  Z
0  8  8  4
1  7  5  1
2  2  2  3

In [6]:
df3 = pd.merge(df1,df2,right_on='Y',left_on='B')

In [7]:
df3

   A  B  C  X  Y  Z
0  1  2  3  2  2  3
1  6  5  4  7  5  1
2  9  8  7  8  8  4

In [ ]:
# point to be noted 'B'or 'Y' , 2 corospond 2, 5 corospond 5, 8 corospond 8.
# but df1 & df2 row column is not same df3,s output , because of merge function some rule maintain, right-left maping work.